@{
    ViewData["Title"] = "Contact Us";
}
<h2>@ViewData["Title"]</h2>


<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div class="container1">
    <div class="box1">
        <div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
        <div class='details'><h3>Romania, Bucharest</h3></div>
    </div>

    <div class="box1">
        <div class="icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
        <div class='details'><h3>021 222 333</h3></div>
    </div>

    <div class="box1">
        <div class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
        <div class='details'><h3>food.tracker@gmail.com</h3></div>
    </div>
</div>
<style>
    .container1 {
        width: 900px;
        margin: 250px auto 0;
        display: flex;
    }

        .container1 .box1 {
            position: relative;
            width: 300px;
            height: 100px;
            box-sizing: border-box;
            text-align: center;
            margin: 0 10px;
            overflow: hidden;
            border-radius: 4px;
            box-shadow: 0 0 0 2px rgba(0,7,10,1);
        }

            .container1 .box1 .icon {
                width: 100%;
                height: 100%;
                background: #00171d;
                transition: 0.5s;
            }

                .container1 .box1 .icon .fa {
                    font-size: 4em;
                    line-height: 100px;
                    color: #0ff;
                }

            .container1 .box1:hover .icon {
                transform: scale(0);
            }

            .container1 .box1 .details {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: #03a9f4;
                transition: 0.5s;
                transform: scale(2);
                opacity: 0;
            }

            .container1 .box1:hover .details {
                transform: scale(1);
                opacity: 1;
            }

            .container1 .box1 .details h3 {
                margin: 0;
                padding: 0;
                line-height: 100px;
                font-size: 24px;
                color: #fff;
            }

            .container1 .box1 .details:nth-child(2) .details {
                background: #e91e63;
            }

            .container1 .box1 .details:nth-child(2) .details {
                background: #607d8b;
            }


    /*item active*/

    .item {
        opacity: 0.7;
        filter: alpha(opacity=70);
    }

    .active {
        opacity: 0.7;
        filter: alpha(opacity=70);
    }
</style>