@{
    ViewData["Title"] = "Home Page";
}


    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/clinic.jpg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
            </div>
        </div>
    </div>

