@model WebApplication1.Models.MedicalInvestigations

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>MedicalInvestigations</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdInvestigation" />
            <div class="form-group">
                <label asp-for="InvName" class="control-label"></label>
                <input asp-for="InvName" class="form-control" />
                <span asp-validation-for="InvName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvDescription" class="control-label"></label>
                <input asp-for="InvDescription" class="form-control" />
                <span asp-validation-for="InvDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvPret" class="control-label"></label>
                <input asp-for="InvPret" class="form-control" />
                <span asp-validation-for="InvPret" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
